{% extends "generic_form.html" %}
{% block title %}Webchat - Change Password{% endblock title %}

{% block form-tag %}

{% if mismatch %}
<p> Passwords do not match or you entered the current password incorrectly.</p>
{% endif %}

{% if success%}
<p> Successfully changed your password, please <a href="/logout"> logout</a> and use your new password.</p>
{% endif %}

<form method="post" action="/chpass">{% csrf_token %}
<table>
{{ form.as_table}}
</table>
<input type="submit" value="Change Password">
{% endblock form-tag %}