{% extends "base.html" %}
{% block title %}Webchat - Home{% endblock title %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/footer.css">

	<style type="text/css">
		body {
		    background-image: url('/static/images/webchat-background.png');
		    background-repeat:no-repeat;
		    background-position: right top;
		    text-align: center;
		}
		
		.clear {
			margin-top: 10%;
		}
	</style>
{% endblock extra_css %}

{% block content %}
<div class="clear"></div>
<div class="panel panel-default">
  <div class="panel-body">
    If you want to chat with the help desk please send an email to help@rt.torproject.org
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
	Si vous voulez discuter avec le bureau d'aide s'il vous plaît envoyez un courriel à help-fr@rt.torproject.org
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
	Si quieres charlar con la mesa de ayuda por favor envíe un correo electrónico a help-es@rt.torproject.org
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
	如果你想聊天的幫助台，請發送電子郵件至 help-zh@rt.torproject.org
  </div>
</div>

<div class="panel panel-default" >
  <div class="panel-body" style="direction:rtl;">
    اگر می خواهید چت با میز کمک لطفا یک ایمیل به help-fa@rt.torproject.org
  </div>
</div>

<div class="panel panel-default" >
  <div class="panel-body" style="direction:rtl;">
    إذا كنت تريد الدردشة مع مكتب المساعدة الرجاء إرسال بريد إلكتروني إلى help-ar@rt.torproject.org
  </div>
</div>
{% include "footer.html" %}
{% endblock content %}