{% extends "base.html" %}
{% block title %}Webchat - Token Generator{% endblock title %}
{% block content %}

  <h1>Welcome {{ name }}</h1>

<form method="post" action="/create_token">
{% csrf_token %}
  <table>
    <tr>
      <td>Related RT ticket number:</td>
      <td><input name="rt_ticket" type="text" size="20"></td>
      <td><input name="submit "type="submit" value="Create Chat Token"></td>
    </tr>
  </table>
</form>

<form method="post" action="/edit_token">
{% csrf_token %}
  <table>
    <tr>
      <td><b>Select</b></td>
      <td><b>RT ticket</b></td>
      <td><b>Created on</b></td>
      <td><b>Expires on</b></td>
      <td><b>Token</b></td>
      <td><b>Copy URL</b></td>
    </tr>
 {% for token in tokens %}
    <tr>
      <td><input type="checkbox" name="ticket_list" value="{{token.t_id}}"></td>
      <td>{{token.rt_ticket}}</td>
      <td>{{token.created}}</td>
      <td>{{token.expires}}</td>
      <td>{{token.token}}</td>
      <td><input type="button" value="Copy URL"></td>
    </tr>
 {% endfor %}
 <tr>
   <td></td>
   <td></td>
   <td><input type="submit" value="Delete"></td>
   <td><input type="submit" value="Edit"></td>
   <td></td>
 </tr>
  </table>
</form>
{% endblock content %}