{% extends "base.html" %}
{% block title %}Token Generator - Pups{% endblock title %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
{% endblock extra_css %}
{% block script %}
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
{% endblock script %}
{% block content %}
{% include "nav_bar.html" %}

{% if messages %}
    {% for message in messages %}
        <b>{{message}}</b> <br />
    {% endfor %}
{% endif %}

<form method="post" action="/tokens">
{% csrf_token %}
  <table>
    <tr>
      <td>Comment (optional):</td>
      <td><input name="comment" type="text" size="76" ></td>
      <td><input name="create_token" type="submit" value="Create Chat Token"></td>
    </tr>
  </table>
  <table>
    <tr>
      <td><b>Select</b></td>
      <td><b>Token URL</b></td>
      <td><b>Created on</b></td>
      <td><b>Expires on</b></td>
      <td><b>Comment</b></td>
      <td><input name="revoke" type="submit"  value="Revoke Selected"></td>
    </tr>
 {% for token in tokens %}
    <tr>
      <td><input name="selected_list" type="checkbox" value="{{token.token}}"></td>
      <td>http://{{server}}/chat/{{token.token}}</td> <!-- Should be replaced with https and the correct domain -->
      <td>{{token.created_at|date:"Y-m-d G:i"}}</td>
      <td>{{token.expires_at|date:"Y-m-d G:i"}}</td>
      <td>{{token.comment}}</td>
    </tr>
 {% endfor %}
 <tr>
   <td></td>
   <td></td>
   <td></td>
 </tr>
  </table>
</form>
{% endblock content %}