{% extends "base.html" %}
{% block title %}Pups - Change Password{% endblock title %}
{% block script %}
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
{% endblock script %}

{% block content %}
<div id="container">
{% include "nav_bar.html" %}

{% if messages %}
    {% for message in messages %}
    <b>{{message}}</b>
    {% endfor %}
{% endif %}

<form method="post" action="/chpass">{% csrf_token %}

  <table>
{% for field in form %}
    <tr>
      <td>{{ field.label_tag }}</td>
      <td>{{ field }}</td> 
      <td> <span style="color:red">{{ field.errors.as_text }}</span></td>
    </tr>
{% endfor %}
  </table>
  <input type="submit" value="Change Password">
</form>
<div class="push_footer"></div>
</div>
{% endblock content %}