{% extends "base.html" %}
{% block title %}Pups - Home{% endblock title %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
{% endblock extra_css %}
{% block script %}
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
{% endblock script %}

{% block content %}
{% include "nav_bar.html" %}

Under Construction.

{% include "footer.html" %}
{% endblock content %}