{% extends "base.html" %}
{% block title %}Pups - Stats{% endblock title %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/stats.css">
  <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
{% endblock extra_css %}
{% block script %}
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/stats.js"></script>
{% endblock script %}

{% block content %}
{% include "nav_bar.html" %}

<form role="form" method="post" action="/create_issue">
{% csrf_token %}
    <input id="new_issue_text" name="new_issue_text" class="form-control" placeholder="Warning: This is not ready yet!" type="text" style="display: inline-block;">
    <button id="save_issue" class="btn btn-default" type="submit">Save</button>
  <div id="newq">
  </div>
</form>

<div id="issues">
</div>

<!-- Issue Edit Modal -->
<div class="modal fade" id="EditIssue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit issue</h4>
      </div>
      <div class="modal-body">
        <textarea id="edit_text" rows="8" cols="65"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="close_edit">Close</button>
        <button type="button" class="btn btn-primary" id="save_edit">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Alert Modal -->
<div class="modal fade" id="Alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="AlertLable"></h4>
      </div>
      <div class="alert-body" style="word-wrap:break-word;">
      </div>
      <div class="modal-footer">
        <button id="alert-ok" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}
{% endblock content %}