{% extends "generic_form.html" %}
{% block title %}Webchat - Change Password{% endblock title %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
{% endblock extra_css %}
{% block script %}
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
{% endblock script %}

{% block content %}
{% include "nav_bar.html" %}

{% block form-tag %}

{% if messages %}
    {% for message in messages %}
    <b>{{message}}</b>
    {% endfor %}
{% endif %}

<form method="post" action="/chpass">{% csrf_token %}

  <table>
{% for field in form %}
    <tr>
      <td>{{ field.label_tag }}</td>
      <td>{{ field }}</td> 
      <td> <span style="color:red">{{ field.errors.as_text }}</span></td>
    </tr>
{% endfor %}
  </table>
  <input type="submit" value="Change Password">
</form>
{% endblock form-tag %}
{% endblock content %}